<ion-view title="My Medicines" left-buttons="leftButtons">

    <ion-content has-header="true" padding="true">
        <!-- <ion-list>
            <ion-item ng-repeat="message in prescriptions">
                {{message.date}}
            </ion-item>
        </ion-list> -->
        <a class="button button-assertive" href="#/add-medicine">
            Add
        </a>

        <div ng-repeat="(key, value) in arrMedicines | groupBy: 'medDate'">
            <div class="card">
                <div class="item item-text-wrap">
                    {{ key }}
                </div>
            </div>
            <a ng-repeat="medicine in value | unique: 'name'" class="item item-icon-left medicineList">
                <div>{{medicine.name}}</div>
                <medicine-time time="morning" callback="medicineAdd(value,time)" class="closed" data="medicine.morning" dose="medicine.dose" readonly="true"></medicine-time>
                <medicine-time time="afternoon" callback="medicineAdd(value,time)" class="closed" data="medicine.afternoon" dose="medicine.dose" readonly="true"></medicine-time>
                <medicine-time time="evening" callback="medicineAdd(value,time)" class="closed" data="medicine.evening" dose="medicine.dose" readonly="true"></medicine-time>
                <medicine-time time="night" callback="medicineAdd(value,time)" class="closed" data="medicine.night" dose="medicine.dose" readonly="true"></medicine-time>

                <!-- <div>Morning Dosage : {{medicine.morning}} </div>
                <div>Aftrenoon Dosage : {{medicine.afternoon}} </div>
                <div>Evening Dosage : {{medicine.evening}} </div>
                <div>Night Dosage : {{medicine.night}} </div> -->
            </a>
            <br>
        </div>
        <!-- <div class="list">
            <a class="item item-icon-left" href="#" ng-repeat="message in arrMedicines">
                <i class="icon ion-ios-medical"></i>
                <div>Medicine : {{message.name}}</div>
                <div>Medicine : {{message.medDate}}</div>
                <div>Morning Dosage : {{message.morning}} </div>
                <div>Aftrenoon Dosage : {{message.afternoon}} </div>
                <div>Evening Dosage : {{message.evening}} </div>
                <div>Night Dosage : {{message.night}} </div>

            </a>
        </div> -->
    </ion-content>
</ion-view>
