<ion-view title="Medicine Detail">
	<ion-nav-buttons side="left">
        <a class="button" ui-sref="app.tabs.medicines">
            Back
        </a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="item item-button-right">
            {{medicine}}
            <button class="button" ng-click="deleteMedicine()">
                <i class="icon ion-trash-a"></i>
            </button>
        </div>
        <div  class="med-dosage-widget">
            <medicine-time time="morning"  data="dose.morning" readonly="true" asneeded="dose.asneeded"></medicine-time>
            <medicine-time time="afternoon"  data="dose.afternoon" readonly="true" asneeded="dose.asneeded"> </medicine-time>
            <medicine-time time="evening"  data="dose.evening" readonly="true" asneeded="dose.asneeded"></medicine-time>
            <medicine-time time="night"  data="dose.night" readonly="true" asneeded="dose.asneeded"></medicine-time>
        </div>

    </ion-content>
</ion-view>
