<ion-popover-view>
    <ion-content>
                <div class="list">
                    <a class="item" ng-click="asNeeded()">
              As Needed
            </a>
                    <a class="item" ng-click="popupReset()">
              Reset
            </a>
                    <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
              Before Meal
            </a>
                    <a class="item" ng-click="fractionDosage()">
              Fractional Dosage
            </a>
                </div>
    </ion-content>
</ion-popover-view>
