<ion-view view-title="Profile Details" name="profile-details">
    <ion-nav-buttons side="right">
        <button class="button button-positive" ng-click="saveDetails()">
            Next
        </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label" >First Name</span>
                <input type="text" ng-model="data.firstName">
            </label>
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input type="text" ng-model="data.lastName">
            </label>
            <label class="item item-input">
                <span class="input-label">Date of Birth</span>
                <input type="date" ng-model="data.dob" name="birthDate">
            </label>
            <label class="item item-input">
                <span class="input-label">Sex</span>
                <div class="list">
                    <label class="item item-radio float-left">
                        <input type="radio" name="group" ng-checked="true" checked="checked" value="m" ng-model="data.sex">
                        <div class="item-content">
                            Male
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio float-left">
                        <input type="radio" name="group" value="f" ng-model="data.sex">
                        <div class="item-content">
                            Female
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            </label>
            <label class="item item-input">
                <span class="input-label">Phone No.</span>
                <input type="number" ng-model="data.phone">
            </label>
        </div>
    </ion-content>
</ion-view>
