<ion-view view-title="Register" name="register" hide-nav-bar="true" id="register-screen">
    <ion-content>
        <div class="register-screen-wrap">
        <div class="padding" id="register-links">
            <p class="text-center">
                <button class="button button-assertive" ng-click="signUpPage()">
                    Create an account
                </button>
            </p>
            <p class="text-center">
                <button class="button button-balanced" ng-click="signInPage()">
                    Sign In
                </button>
            </p>
        </div>
        </div>
    </ion-content>
</ion-view>
