/* Empty. Add your own CSS if you like */


#register-screen.pane {
    background: url('../img/register.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#register-screen .scroll {
    height: 100%;
}

.register-screen-wrap {
    position: relative;
    height: 100%;
}

#register-links {
    position: absolute;
    bottom: 80px;
    width: 100%;
}
/*.scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}*/
.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}
.item-input input[type="checkbox"].sex-radio-button {
    width: 50px;
}
input.sex-radio-button:after {
    left: 15%;
}

/*.custom-toggle.morning .handle{
  background-color: yellow;
  border: 1px solid black;
}*/


.custom-toggle.morning .track, .custom-toggle.morning .track.closed .handle {
  border-color: #ffc900;
  background-color: #ffc900;
}
.custom-toggle.afternoon .track, .custom-toggle.afternoon .track.closed .handle {
  border-color: #DF5C52;
  background-color: #DF5C52;
}
.custom-toggle.evening .track, .custom-toggle.evening .track.closed .handle {
  border-color: #4DC0C0;
  background-color: #4DC0C0;
}
.custom-toggle.night .track, .custom-toggle.night .track.closed .handle {
  border-color: #735D9B;
  background-color: #735D9B;
}


.custom-toggle .medicineCount{
    position: absolute;
  right: 16px;
  top: 10px;
}


.custom-toggle .track {
  width: 65px;
}

.custom-toggle .track.closed {
  width: 32px;
}